<!DOCTYPE html>
<html> 
	<head> 
		<meta charset="utf-8"/>
		<title>Bootstrap grid </title> 

		<!-- We link the CDN css files here --> 
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="app/assets/stylesheets/bootstrap.min.css" > 
		<!-- Optional theme -->
		<link rel="stylesheet" href="app/assets/stylesheets/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/main.css">

</head>
	<body class = "home-page">
		<!-- navbar -->  
<nav class="navbar navbar-light" style="background-color: #FFCD24;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand">boardMeeting</a>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="../whiteboards" id="navbarDropdown" role="button" data-toggle="My Whiteboards" aria-haspopup="true" aria-expanded="false">
          My Whiteboards
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Create New</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
	  <li> <% if current_user %>
			<a href="../whiteboards/new">Create New</a>
		<% else %>
 		   <a .style.visibility="hidden"></a>
		<% end %>
		</li>
        </ul>
			<% if current_user %>
        <form class="navbar-form navbar-left">
            <div class="input-group">
                <input id="home-search-bar" type = "text" class="form-control", placeholder="Enter Whiteboard id...", spellcheck="false">
                <span class="input-group-btn">
                    <button id="home-page-search-button" class="btn btn-primary" style="color:#FFCD24" type="button"> <span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
		<% else %>
 		   <a .style.visibility="hidden"></a>
		<% end %>
        <ul class="nav navbar-nav navbar-right">
				<% if current_user %>
				<li><a href=<%= edit_user_registration_path %>><span class="glyphicon glyphicon-user"></span> <%= @username %></a></li>
				<li><a href="/users/sign_out" data-method="delete"><span rel="nofollow" class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
				<% else %>
     		 	<li><a href=<%= new_user_registration_path %>><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
     			<li><a href=<%= new_user_session_path %>><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				<% end  %>
			</ul>
    </div>
</nav>
		<!-- Begin Homepage layout --> 
	<div class=" description ">
   		<h1>Welcome to <span>boardMeeting!</span> </h1>
		<h2> A Collabotative Whiteboard Tool</h2>
   	<div class="container text-center">    
  		
<br>

  	<div class="row">
    	<div class="col-sm-4">
      		<img src="https://img.icons8.com/clouds/500/000000/add-user-male.png" class="img-responsive" style="width:100%" alt="Image">
    	</div>
    	<div class="col-sm-4"> 
      		<img src="https://img.icons8.com/clouds/500/000000/edit.png" class="img-responsive" style="width:100%" alt="Image">
		
    	</div>
    	<div class="col-sm-4">
      		<img src="https://img.icons8.com/clouds/500/000000/classroom.png" class="img-responsive" style="width:100%" alt="Image">
		
    	</div>
  </div>
 
  <div class = "menu-container">
  <div class="row">
	<div class="col-sm-4">
  	<div class = "boxed">
      		<p> Easy sign up - All you need is an email!</p>
	</div>
	</div>
	<div class="col-sm-4">
	<div class = "boxed">
      		<p>Start making whiteboards for personal ideas or drawings! </p>  
	 </div> 
	 </div> 
	 <div class="col-sm-4">
	 <div class = "boxed">
      		<p>Share your whiteboard with others to collaborate on ideas!  </p>
	 </div>
	 </div>
</div>
</div>
<br>
		<!-- End Homepage Layout --> 

	<!-- Latest compiled and minified JavaScript -->
		<script src="/assets/javascripts/bootstrap.min.js"></script>
	</body>

	<!-- Javascript files should be linked at the bottom of the page --> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- search bar funtion --> 
	<script>
		
		
		$('#home-page-search-button').click(function() {
			var wbpath = document.getElementById('home-search-bar').value;
			var actualPath = 'https://boardmeeting.herokuapp.com/whiteboards/' + wbpath;
			$.ajax({
				type: 'HEAD',
				url: actualPath,
				success: function() {
					window.location.assign(actualPath);
				},
				error: function() {
					var obj = document.getElementById('home-search-bar');
					var origBorder = obj.style.border;
					var origColor = obj.style.color;
					obj.style.border = "2px solid red";
					obj.style.color = "red";
					setTimeout(function() {
						obj.style.border = origBorder;
						obj.style.color = origColor;
					}, 3000);
				}
			});
		});
	</script>

</html>
