<!DOCTYPE html>
<html> 
	<head> 
		<meta charset="utf-8"/>
		<title>Bootstrap grid </title> 

		<!-- We link the CDN css files here --> 
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="app/assets/stylesheets/bootstrap.min.css" > 
		<!-- Optional theme -->
		<link rel="stylesheet" href="app/assets/stylesheets/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/main.css">

	</head>
	<body class = "home-page">
		<!-- navbar -->  
	<nav class="navbar navbar-inverse">
 		<div class="container-fluid">
   		 <div class="navbar-header">
      		<a class="navbar-brand">WhiteBoard</a>
    	</div>
    		<ul class="nav navbar-nav">
     		<li class="active"><a href="../home/index">Home</a></li>
     		 <li><a href="../whiteboards">My Whiteboards</a></li>
   		</ul>
    		<ul class="nav navbar-nav navbar-right">
				<% if current_user %>
				<li><a href=<%= edit_user_registration_path %>><span class="glyphicon glyphicon-user"></span><%= @username %></a></li>
				<li><a class="glyphicon" rel="nofollow" data-method="delete" href="/users/sign_out">Sign Out</a></li>
				<% else %>
     		 	<li><a href=<%= new_user_registration_path %>><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
     			<li><a href=<%= new_user_session_path %>><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				<% end  %>
			</ul>
  		</div>
	</nav>
	<div class=" description ">
   		<h1> WELCOME TO WHITEBOARD</h1>
		<h2> A Collabotative Whiteboard</h2>
   	<div class="container text-center">    
  		<h3>How it works</h3>
<br>
  	<div class="row">
    	<div class="col-sm-4">
      		<img src="http://chittagongit.com//images/sign-up-icon-png/sign-up-icon-png-28.jpg" class="img-responsive" style="width:100%" alt="Image">
      		<p>Easy sign up - All you need is an email! </p>
    	</div>
    	<div class="col-sm-4"> 
      		<img src="https://image.flaticon.com/icons/png/512/33/33592.png" class="img-responsive" style="width:100%" alt="Image">
      		<p>Start making whiteboards for personal ideas or drawings to share with others. </p>    
    	</div>
    	<div class="col-sm-4">
      		<img src="https://www.freeiconspng.com/uploads/black-circle-social-media-share-icon-png-25.png" class="img-responsive" style="width:100%" alt="Image">
      		<p>Share your whiteboard with others were they can see your drawings and make changes </p>
    	</div>
  </div>
<br>

		<% if current_user %>
			<a href="../whiteboards/new"><button class="btn btn-secondary btn-lg">CREATE NEW</button></a>
		<% else %>
 			<a href=""><button class="btn btn-secondary btn-lg">SIGN UP</button></a>  
		<% end %>
		

	<!-- Javascript files should be linked at the bottom of the page --> 
		<script src="/assets/javascripts/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
		<script src="/assets/javascripts/bootstrap.min.js"></script>
	</body>
</html>
