<!DOCTYPE html>
<html> 
	<head> 
		<meta charset="utf-8"/>
		<title>Bootstrap grid </title> 


		<!-- We link the CDN css files here --> 
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="app/assets/stylesheets/bootstrap.min.css" > 
		<!-- Optional theme -->
		<link rel="stylesheet" href="app/assets/stylesheets/bootstrap-theme.min.css">

	</head>
	<body>
		<a href="home/info.html.ern" class="btn btn-Dark" role="button">INFORMATION</a>
		<button type="button" class="btn btn-Dark">SIGN IN</button>
		<a href="#" class="btn btn-Dark" role="button">TRY NOW</a>
	
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="jumbotron">
  						<h1>Welcome to Whiteboard!</h1>
  						<p>Collaborating Whiteboard</p>
				</div>
				</div>
			</div>
	
</div>


	<!-- Javascript files should be linked at the bottom of the page --> 
		<script src="app/assets/javascripts/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
		<script src="app/assets/javascripts/bootstrap.min.js"></script>
	</body>
</html>