/*background css*/
.bg{
    background-image: url("https://wallpaperplay.com/walls/full/5/6/c/86233.jpg");
    background-size: 100;
    color: #fff;
}
/*css to create border and shadow around user input form*/
.form-container{
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    border:0px solid #fff;
    padding:50px 60px;
    margin-top:20vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    border-radius: 7px;
}

.devise-links a {
    color: white;
}

.devise-links a:hover {
    text-decoration: none;
    color: #5cb85c;
}
