.bg{
    background-image: url("http://www.siue.edu/~mhallor/madisonrobertsphotography1/background.png");
    background-size: 100;
    color: #fff;}
.form-container{
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    border:0px solid #fff; padding:50px 60px; margin-top:20vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75)
}

.devise-links a {
    color: white;
}

.devise-links a:hover {
    text-decoration: none;
    color: #5cb85c;
}
