@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");


.home-page {
	background-image: url("http://www.siue.edu/~mhallor/madisonrobertsphotography1/background.png");
    background-size: 100;
}

.home-page .overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(244, 244, 244, 0);
}


.home-page .description{
    text-align: center; 
    top: 50%;
    left: 50%;
    transition: translate(-50%, -50%);
    margin: auto;
    padding: 0em;
    margin-bottom: 2em;
}
.home-page .description h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 2em; 
    top: 50%;
    left: 50%;
    transition: translate(-50%, -50%);
    margin: auto;
    font-size:50px;
    color:#f5f5f5;
}
.home-page .description h2,h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px; 
    color:#f5f5f5;
}
.home-page .description p{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    margin: auto;
    padding: 1em;
    color:#f5f5f5;
    font-size: 20px;
    width: 90%;
    line-height: 1.5;
}
.home-page .description button{
    border:1px  solid #262626;
    background: #262626;
    color:#f5f5f5;
    margin-top: 2em; 

}
